{% set image = page.media[page.header.featured_image] ?: page.media.images|first %}
{% set title = page.title %}

<article>
    {% if image %}
    <a href="{{page.url}}" class="image">
        {{ image.cropResize(300,300).loading('lazy').attribute('width', '300').attribute('height','400').html(title,title,'')|raw }}
    </a>
    {% endif %}
    <a href="{{page.url}}"><h3>{{page.title}}</h3></a>

    <p>
    {% if page.summary != page.content %}
            {{ page.summary|striptags|raw }}
        {% else %}
            {{ page.content|striptags|raw }}
        {% endif %}
    </p>

    <p>
        {% if page.taxonomy.Mindestvoraussetzungen %}
        <span>
           <i class="fa fa-check-square"></i>
           <strong>Mindestvoraussetzungen: </strong>
            {% for tag in page.taxonomy.Mindestvoraussetzungen %}
                <a href="{{ base_url }}/search/query:{{ tag }}"> {{ tag }} </a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        <br>
        {% endif %}

        {% if page.taxonomy.Zusatzvoraussetzungen %}
        <span>
           <i class="fa fa-star"></i>
           <strong>Zusatzvoraussetzungen: </strong>
            {% for tag in page.taxonomy.Zusatzvoraussetzungen %}
                <a href="{{ base_url }}/search/query:{{ tag }}"> {{ tag }} </a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        <br>
        {% endif %}

        {% if page.taxonomy.Inhalte %}
        <span>
           <i class="fa fa-tags"></i>
           <strong>Inhalte: </strong>
            {% for tag in page.taxonomy.Inhalte %}
                {{ tag }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        <br>
        {% endif %}

        {% if page.taxonomy.Niveau %}
        <span>
           <i class="fa fa-rocket"></i>
           <strong>Niveau: </strong>
            {% for tag in page.taxonomy.Niveau %}
                {{ tag }}
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}

        {#
        {% if page.taxonomy.category %}
        <span>
            <i class="fas fa-link fa-md"></i>
            {% for category in page.taxonomy.category %}
                <a class="tags" title="{{ 'Andere Beiträge in ' ~ (category|capitalize) }}"
			    href="{{ base_url }}/category{{ config.system.param_sep }}{{ category }}" itemprop="url"><span itemprop="keywords">{{ category }}</span></a>
                {% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
        #}
    </p>

    <ul class="actions">
        <li><a href="{{page.url}}" class="button">Lesen</a></li>
    </ul>
</article>
