{% set image = page.media[page.header.featured_image] ?: page.media.images|first %}
{% set title = page.title %}

<article>
    {% if image %}
    <a href="{{page.url}}" class="image">
        {{ image.cropResize(300,300).loading('lazy').attribute('width', '300').attribute('height','400').html(title,title,'')|raw }}
    </a>
    {% endif %}
    <a href="{{page.url}}"><h3>{{page.title}}</h3></a>

    <p>
    {% if page.summary != page.content %}
            {{ page.summary|striptags|raw }}
        {% else %}
            {{ page.content|striptags|raw }}
        {% endif %}
    </p>
    <ul class="actions">
        <li><a href="{{page.url}}" class="button">Lesen</a></li>
    </ul>
</article>
